<div class="container-fluid">
  <h1>Angular Spinner</h1>
  <p><a href="https://github.com/laijuthomas/angular-spinner">Get it here</a></p>
  <div class="card mb-2">
    <div class="card-header">Angular Spinner Directive Example</div>
    <div class="card-body position-relative" [angularSpinner]="true" spinnerStatus="danger"></div>
  </div>
  <div class="card">
    <div class="card-header">Angular Spinner Component Example</div>
    <div class="card-body position-relative">
      <angular-spinner></angular-spinner>
    </div>
  </div>
</div>